  <div class="col-xs-12">
    <h2>Avalia&ccedil;&otilde;es de Entregues</h2>

    <clr-datagrid>
	    <clr-dg-column>Solicita&ccedil;&atilde;o</clr-dg-column>
	    <clr-dg-column>Data de Cadastro</clr-dg-column>
	    <clr-dg-column>Nota</clr-dg-column>
	    <clr-dg-column>Descri&ccedil;&atilde;o</clr-dg-column>

	    <clr-dg-row *clrDgItems="let avaliacao of avaliacaos">
	        <clr-dg-cell>{{avaliacao.solicitacao}}</clr-dg-cell>
	        <clr-dg-cell>{{avaliacao.dhAvaliacao | date}}</clr-dg-cell>
	        <clr-dg-cell>{{avaliacao.nota}}</clr-dg-cell>
	        <clr-dg-cell>{{avaliacao.deAvaliacao}}</clr-dg-cell>
	    </clr-dg-row>

      <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Avalia&ccedil;&otilde;es por páginas</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          de {{pagination.totalItems}} Avalia&ccedil;&atilde;o
        </clr-dg-pagination>
      </clr-dg-footer>
	 </clr-datagrid>

  </div>
